@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Inter:wght@200;300&family=Oswald&family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Roboto', sans-serif !important;
		
		
	}
}


.donutchart-innertext{
font-size:0px;
}
.donutchart-legend-item {
	font-size:8px;
	

}

